body{
    margin: 0;
    font-family: 'Merriweather', serif;
}
.flex-item{
    display: flex;
    margin-bottom: 50px;
    float: left;
}
span{
    color: rgb(238, 147, 11);
}
.first-sec{
    
    height: 400px;
    
}
.first-half{
    width: 50%;
    float: left;
    margin-left:7%;

}
.first-half h1{
    font-weight: 1300;
}
.first-half p{
    color: rgba(19, 19, 16, 0.493);
}
.first-half img{
    width: 60%;
    border-radius: 90%;
}

.first-half a{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,tomato);
    color: black;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px 5px rgb(226, 144, 96);
    
}
.first-half a:hover{
    font-weight: 900;
}

.second-sec{
    background-image: url(images/7.png);
    height: 500px;
    padding-left: 7%;
}

.sec-first{
    width: 50%;
    
}
.sec-first img{
    width: 50%;
    height: 100%;
}
.sec-sec{
    margin-top: 100px;
    width: 50%;
}
.ektu-side-ano{
    text-align: justify;
    margin-right: 150px;
}
.ektu-side-ano p{
    color: rgba(19, 19, 16, 0.493);
}
.sec-sec a{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,tomato);
    color: black;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}
.sec-sec a:hover{
    font-weight: 900;
}


.non-flex{
    text-align:  center;
    margin-bottom: 50px;
    
}
.maje-ano{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}

.final-part{
    margin-right: 3%;
    height: 380px;
    
}
#left{
    float: left;
    width: 30%;
    margin-left: 10%;
    justify-content: space-around;
    box-shadow: 5px 6px 10px 5px #888888;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

#left img{
    width: 95%;
    height: 60%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

.last-sec{
    display: flex;
    margin-left: 10%;
    box-shadow: 5px 6px 10px 5px #888888;
    width: 87%;
    border-radius: 10px;
    margin-bottom: 100px;
    
}
.bottom{
    width: 30%;
    margin-left: 50px;
    
}

footer{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
.foot{
    
    background-image: linear-gradient(gray,black);
    height: 150px;
}